@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

section {
    width: 80vw;
}

h1 {
    font-size: 30px;
    text-align: left;
}

h2 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 15px;
}

.title-block{
    width: 100%;
    background-color: rgb(102, 96, 221);
    border-radius: 5px;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    color:rgb(0, 0, 0)
}

.answer-options{
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 23px 0;
}

.answer-block{
    width: 140px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    text-align: center;
    margin-bottom: 100px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.answer-block:hover {
    transform: scale(1.1);
}

.answer-block img {
    width: 100%;
}

.answer-block p {
    font-size: 11px;
    font-style: italic;
}

.answer-block a {
    color: rgb(137, 137, 137)
}

.result-block {
    width: 600px;
    background-color: rgb(255, 61, 158);
    border-radius: 5px;
    border: solid rgb(255, 61, 158) 20px;
}

.result-block img {
    width: 100%;
}